head 
	meta(charset="UTF-8")
	meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title() arfSync

	link(href="/public/js/footable/css/footable.core.css" rel="stylesheet" type="text/css")

	link(rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
	script(src="https://code.jquery.com/jquery-1.11.1.min.js")
	script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
	script(src="/public/js/jquery/hopper/jquery.hopper.extention.js")
	script(src="/public/js/jquery/hopper/jquery.hopper.database.js")
	script(src="/public/js/jquery/hopper/jquery.hopper.checkboxlines.js")
	script(src="/public/js/jquery/hopper/jquery.hopper.contactlistview.js")



	script(src="/public/js/jquery/hopper/jquery.hopper.extension.dynamictable.js")

	script(src="/public/js/footable/js/footable.js")


	script(type='text/javascript', src='/js/clientutil/clientutil.js')

	//arfsync.jqm   CSS ---------
	link(rel="stylesheet" href="/public/css/arfsync.jqm/arfsync.jqm.css")

	script(type='text/javascript', src='/public/js/hashofarray/v002/hashofarrayobject.js')
	script(src="/public/js/eventorigin/eventorigin.js" type="text/javascript")





body
	h1 trans.jqm.jade
	button(onclick="InfoObject.doAction('NA', 'createNextFileSystem', 'fileAction');") create next file system
	button(onclick="InfoObject.doAction('NA', 'launchNexServer', 'fileAction');") launch next server

	- index = -1;

	//p #{serverReport.name}
	table(data-role="table" data-mode="columntoggle" class="ui-responsive" id="myTable0")
		thead
			tr
				th
					p ACTION
				th
					p Server Name
				th
					p state
				th
					p requestScore
				th
					p processingScore


		tbody
			for serverReport in serversReport
				tr
					th
						select(class="cb" id="#{++index}" name="day" onchange="InfoObject.doAction('#{serverReport.name}', this.value, 'serverAction');")
							optgroup(label="General")
								option(value="start") Start
								option(value="restart") Restart
							optgroup(label="Access")
								option(value="lock") lock
								option(value="unlock") unlock
							optgroup(label="Major")
								option(value="kill") KILL
							optgroup(label="recordRoutes")
								option(value="recordRoutesOn") recordRoutesOn
								option(value="recordRoutesOff") recordRoutesOff

					th
						p #{serverReport.name}
					th
						p #{serverReport.state}
					th
						p #{serverReport.requestScore}
					th
						p #{serverReport.processingScore}





	h1 Connections:
	table(data-role="table" data-mode="columntoggle" class="ui-responsive" id="myTable")
		thead
			tr
				th
					p Server Name
				th
					p User Id
				th
					p Device Id
				th
					p Server Cip Connection Id
				th
					p Device Token Id
				th
					p Connected Time

		tbody
			for connection in connections
				tr
					th
						p #{connection.serverName}
					th
						p #{connection.userId}
					th
						p #{connection.deviceId}
					th
						p #{connection.serverConnectionId}
					th
						p #{connection.deviceTokenId}
					th
						p #{connection.entryTime}


script.
	var InfoObject = new function(){
		var _tis = this;
		this.killServer = function(inServerName){
			$postAjax(
				{
					url:'/admin/killserver',
					send:
						{
							//serverName:'server_' + (inServerName.slice(-3)) - 400
							serverName:'server_' + (parseInt(inServerName.slice(-3)) - 400)
						},
					onAjaxSuccess:function(inResponseText){
						var inResponseText = JSON.parse(inResponseText).result;
						console.log('kill done');
						console.dir(inResponseText);
					}
				}
			);
		}

		this.doAction = function(inServerBuildName, inAction, inType){
			console.log('inServerBuildName:' + inServerBuildName);
			console.log('inAction:' + inAction);
			$postAjax(
				{
					url:'/admin/doServerAction',
					send:
						{
							type:inType,
							serverBuildName:inServerBuildName,
							action:inAction,
						},
					onAjaxSuccess:function(inResponseText){
						var inResponseText = JSON.parse(inResponseText).result;
						console.log('kill done');
						console.dir(inResponseText);
					}
				}
			);
		}
	}();

	$(document).ready(function(){
		$('.cb').val('xx');
	});
